body, .content, .markdown, main, .post-content, .prose, article {
    font-family: Arial, Helvetica, sans-serif !important;
}

article .nested-copy-line-height {
    font-family: Arial, 'Helvetica Neue', Helvetica, Calibri, sans-serif !important;
}
