<div style="display: flex; justify-content: center; gap: 2em; margin: 2em 0;">
    {{- $members := split .Inner "---" -}}
    {{- range $members }}
        {{- $lines := split . "\n" -}}
        {{- $img := "" -}}
        {{- $name := "" -}}
        {{- $title := "" -}}
        {{- range $lines }}
            {{- $line := trim . " \r\n\t" -}}
            {{- if and (findRE "^img:" $line) (ne $line "img:") -}}
                {{- $img = replaceRE "^img:\\s*" "" $line | trim " " -}}
            {{- else if and (findRE "^name:" $line) (ne $line "name:") -}}
                {{- $name = replaceRE "^name:\\s*" "" $line | trim " " -}}
            {{- else if and (findRE "^title:" $line) (ne $line "title:") -}}
                {{- $title = replaceRE "^title:\\s*" "" $line | trim " " -}}
            {{- end -}}
        {{- end }}
            <div style="text-align: center;">
                <img src="{{ $img }}" alt="{{ $name }}" style="width:100px;height:100px;object-fit:cover;border-radius:50%;margin-bottom:0.5em;">
                <div style="font-weight:bold;">{{ $name }}</div>
                <div style="font-size:0.85em;color:#666;"><sub>{{ $title }}</sub></div>
            </div>

    {{- end }}
</div>


