{{- $categories := dict
    "scientific" 0
    "journal" 0
    "annals" 0
    "chapter" 0
    "book" 0
    "reports" 0
-}}
{{- $years := dict -}}
{{- $currentYear := "" -}}
{{- $pubLine := "" -}}
{{- $lines := split .Inner "\n" -}}
{{- range $lines -}}
    {{- $line := trim . " \r\n\t" -}}
    {{- $isYear := or (findRE "^\\*\\*[0-9]{4}\\*\\*$" $line) (findRE "^<strong>[0-9]{4}</strong>$" $line) -}}
    {{- $isPub := findRE "^\\s*-\\s*\\[.*\\]" $line -}}
    {{- if $isYear -}}
        {{- if ne $pubLine "" -}}
            {{- $cat := "" -}}
            {{- if findRE "\\[scientific\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "scientific" (add (index $categories "scientific") 1)) -}}
            {{- else if findRE "\\[journal\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "journal" (add (index $categories "journal") 1)) -}}
            {{- else if findRE "\\[annals\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "annals" (add (index $categories "annals") 1)) -}}
            {{- else if findRE "\\[chapter\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "chapter" (add (index $categories "chapter") 1)) -}}
            {{- else if findRE "\\[book\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "book" (add (index $categories "book") 1)) -}}
            {{- else if findRE "\\[reports\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "reports" (add (index $categories "reports") 1)) -}}
            {{- end -}}
            {{- if $currentYear -}}
                {{- $pubs := index $years $currentYear -}}
                {{- $pubs = $pubs | append $pubLine -}}
                {{- $years = merge $years (dict $currentYear $pubs) -}}
            {{- end -}}
            {{- $pubLine = "" -}}
        {{- end -}}
        {{- $currentYear = replaceRE "[^0-9]*([0-9]{4}).*" "$1" $line | trim " " -}}
        {{- $exists := false -}}
        {{- range $k, $v := $years -}}
            {{- if eq $k $currentYear -}}
                {{- $exists = true -}}
            {{- end -}}
        {{- end -}}
        {{- if not $exists -}}
            {{- $years = merge $years (dict $currentYear (slice)) -}}
        {{- end -}}
    {{- else if $isPub -}}
        {{- if ne $pubLine "" -}}
            {{- $cat := "" -}}
            {{- if findRE "\\[scientific\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "scientific" (add (index $categories "scientific") 1)) -}}
            {{- else if findRE "\\[journal\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "journal" (add (index $categories "journal") 1)) -}}
            {{- else if findRE "\\[annals\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "annals" (add (index $categories "annals") 1)) -}}
            {{- else if findRE "\\[chapter\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "chapter" (add (index $categories "chapter") 1)) -}}
            {{- else if findRE "\\[book\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "book" (add (index $categories "book") 1)) -}}
            {{- else if findRE "\\[reports\\]" $pubLine -}}
                {{- $categories = merge $categories (dict "reports" (add (index $categories "reports") 1)) -}}
            {{- end -}}
            {{- if $currentYear -}}
                {{- $pubs := index $years $currentYear -}}
                {{- $pubs = $pubs | append $pubLine -}}
                {{- $years = merge $years (dict $currentYear $pubs) -}}
            {{- end -}}
            {{- $pubLine = "" -}}
        {{- end -}}
        {{- $pubLine = (replaceRE "^\\s*-\\s*" "" $line) -}}
    {{- else -}}
        {{- if ne $pubLine "" -}}
            {{- $pubLine = printf "%s %s" $pubLine $line -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- if ne $pubLine "" -}}
    {{- $cat := "" -}}
    {{- if findRE "\\[scientific\\]" $pubLine -}}
        {{- $categories = merge $categories (dict "scientific" (add (index $categories "scientific") 1)) -}}
    {{- else if findRE "\\[journal\\]" $pubLine -}}
        {{- $categories = merge $categories (dict "journal" (add (index $categories "journal") 1)) -}}
    {{- else if findRE "\\[annals\\]" $pubLine -}}
        {{- $categories = merge $categories (dict "annals" (add (index $categories "annals") 1)) -}}
    {{- else if findRE "\\[chapter\\]" $pubLine -}}
        {{- $categories = merge $categories (dict "chapter" (add (index $categories "chapter") 1)) -}}
    {{- else if findRE "\\[book\\]" $pubLine -}}
        {{- $categories = merge $categories (dict "book" (add (index $categories "book") 1)) -}}
    {{- else if findRE "\\[reports\\]" $pubLine -}}
        {{- $categories = merge $categories (dict "reports" (add (index $categories "reports") 1)) -}}
    {{- end -}}
    {{- if $currentYear -}}
        {{- $pubs := index $years $currentYear -}}
        {{- $pubs = $pubs | append $pubLine -}}
        {{- $years = merge $years (dict $currentYear $pubs) -}}
    {{- end -}}
    {{- $pubLine = "" -}}
{{- end -}}

{{- $yearKeys := slice -}}
{{- range $k, $v := $years -}}
    {{- $yearKeys = $yearKeys | append $k -}}
{{- end -}}
{{- $sortedYears := sort $yearKeys -}}

{{- $output := printf "## Totais por categoria:\n" -}}
{{- $output = printf "%s- Científicas: %d\n" $output (index $categories "scientific") -}}
{{- $output = printf "%s- Artigos em periódicos: %d\n" $output (index $categories "journal") -}}
{{- $output = printf "%s- Artigos em anais: %d\n" $output (index $categories "annals") -}}
{{- $output = printf "%s- Capítulos de livros: %d\n" $output (index $categories "chapter") -}}
{{- $output = printf "%s- Livros: %d\n" $output (index $categories "book") -}}
{{- $output = printf "%s- Relatórios técnicos: %d\n" $output (index $categories "reports") -}}

{{- $output = printf "%s\n## Publicações\n" $output -}}
{{- if gt (len $sortedYears) 0 -}}
    {{- range $sortedYears -}}
        {{- $year := . -}}
        {{- if ne $year "" -}}
            {{- $output = printf "%s\n## %s\n" $output $year -}}
            {{- range (index $years $year) -}}
                {{- $output = printf "%s- %s\n" $output . -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{ $output | markdownify }}
