{{- $categories := dict
    "scientific" 0
    "journal" 0
    "annals" 0
    "chapter" 0
    "book" 0
    "reports" 0
-}}
{{- $html := .Inner | markdownify -}}
{{- $pubMatches := findRE "<li>(.*?)</li>" $html -}}
{{- range $pubMatches -}}
    {{- $pub := replaceRE "<li>(.*?)</li>" "$1" . -}}
    {{- if findRE "\\[scientific\\]" $pub -}}
        {{- $categories = merge $categories (dict "scientific" (add (index $categories "scientific") 1)) -}}
    {{- else if findRE "\\[journal\\]" $pub -}}
        {{- $categories = merge $categories (dict "journal" (add (index $categories "journal") 1)) -}}
    {{- else if findRE "\\[annals\\]" $pub -}}
        {{- $categories = merge $categories (dict "annals" (add (index $categories "annals") 1)) -}}
    {{- else if findRE "\\[chapter\\]" $pub -}}
        {{- $categories = merge $categories (dict "chapter" (add (index $categories "chapter") 1)) -}}
    {{- else if findRE "\\[book\\]" $pub -}}
        {{- $categories = merge $categories (dict "book" (add (index $categories "book") 1)) -}}
    {{- else if findRE "\\[reports\\]" $pub -}}
        {{- $categories = merge $categories (dict "reports" (add (index $categories "reports") 1)) -}}
    {{- end -}}
{{- end -}}

{{- $output := printf "## Totais por categoria:\n" -}}
{{- $output = printf "%s- Científicas: %d\n" $output (index $categories "scientific") -}}
{{- $output = printf "%s- Artigos em periódicos: %d\n" $output (index $categories "journal") -}}
{{- $output = printf "%s- Artigos em anais: %d\n" $output (index $categories "annals") -}}
{{- $output = printf "%s- Capítulos de livros: %d\n" $output (index $categories "chapter") -}}
{{- $output = printf "%s- Livros: %d\n" $output (index $categories "book") -}}
{{- $output = printf "%s- Relatórios técnicos: %d\n" $output (index $categories "reports") -}}

{{ $output | markdownify }}
{{ .Inner | markdownify}}
